.container{
    width: 50%;
   margin: 0%;
   border-bottom-left-radius: 110px;
   border-bottom-right-radius: 110px;
}
.card_block{
    display: flex;
    padding: 50px;
    
}
.fashion_img{
    width: 400px;
    height: 300px;
    position: absolute;
    left: 10%;
}
.card_block{
    position: absolute;
    top: 70%;
}
.main_block{
    display: flex;
   
}
.camera{
    width: 400px;
}
.box1{
    width: 250px;
    margin-left: 70px;
    height: 200px;
    border: 5px solid pink;
}
.box2{
    width: 150px;
    height:  60px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 27%;

}
.blog{
    background-color: thistle;
    width: 50%;
    margin-left:  30%;
    height: 400px;
    margin-bottom: 20%;
}