.button{
    padding: 1%;
    border-radius: 10px;
    display: flex;
    margin-right: 7%;
    color: white;
    border: 0%;
    width: 20%;
}
.button-block{
    display: flex;
    
}
.button{
        background-color: black;
        border: none;
        
}
.button:hover{
    background-color: white;
    color: black;
}
.container{
    color: black;
}
.preview-text{
    color: black;
    
}
.container{
    margin-top: 10px;
  
    margin-bottom: 250px;
}